@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
       
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:gray;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;
}
.navbar a{
    padding-inline: 10px;
    text-decoration: none;
    color: white;
    font-size: large;
}
.navbar input{
    border-radius: 15px;
    outline: none;
    border: transparent;
    padding: 8px;
    width: 4cm;
}
main{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(./images/img-1.jpg);
    display: flex;
    height: 80vh;
    align-items: center;
    padding: 0 10%;
}
.introduction{
    font-size: 30px; 
    color: white;   
}
h1,.int-1{
    color: rgb(255, 255, 255, .8);
}
#button{
    font-size: large;
    width: 4cm;
    height: 1cm;
    border-radius: 5px;
    border: 1px solid black;
    background: rgb(255, 255, 255, .4);
    font-weight: 500;
}
#button:hover{
    background-color: gray;
}
.bestseller{
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
}
#b-1{
    color: black;
    text-align: center;
    margin: 20px;
   font-weight: 500;
}
#shelves,.b-4,.b-7{
    margin-top:30px ;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 18px ;
}
.row-1 img{
    margin: 10px 40px 0px 30px;

}
.row-2 img{
    margin: 10px 40px 0px 30px;
}
.row-3 img{
    margin: 10px 40px 0px 30px;
}
.row-1{
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: fade-in linear ;
    animation-timeline: view();
    animation-range:1px 300px;
}
.row-2{
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: fade-in linear ;
    animation-timeline: view();
    animation-range:1px 300px;

}
.row-3{
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range:1px 300px;
}
@keyframes fade-in{
    from{ scale: 0.8; opacity: 0;}
    to{scale: 1;opacity: 1;}
}
.buy{
    margin-left:15px ;
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 100px;
    border: 1.5px solid black;
    font-weight: 600;
}
.buy:hover{
    background-color: gray;
}
#P-1{
    padding: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
}
footer{
    color: white;
    background-color: black;
    padding-top: 40px;
    margin-top: 50px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
     color: rgb(66, 66, 223);
}
.links{
    display: flex;
    justify-content:center;      
}
.lo{
    font-size: 60px;
    margin-right: 290px;
    font-weight: bold; 
    color: rgb(255, 255, 255, .6);
}
.about{
    margin-right: 40px;    
}
.help{
    margin-bottom: 30px;
}
.s-m {
    margin-left: 30px;
}
.s-m img{
    height: 22px;
}
#h-1,#S-M,#A-u{
    color: yellow;
}
.authers{
    display: flex;
    margin: 5%;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 18px ;
}
.authers img{
    height: 250px;
    margin-top:8px ;
    margin-left: 30px;
    border-radius: 15px;
}
.P-A{
    margin-left: 20px;
    margin-top:15px;
    margin-right:30px ;
    margin-bottom: 10px;
}
#author h2{
    text-align: center;
    margin-top: 50px;
    font-size: xx-large;
}
.about-us button{
    margin-top: 40px;
    padding: 10px;
    background-color:aqua;
    border-radius: 5px;
    border: none;
   font-size: 15px;
}
.about-us h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.about-us{
    display: flex;
    align-items: center;
    margin: 5%;
}
.about-us img{
    width: 60%;
    height: 50%;
    margin-right: 5%;
}
.media-scroller{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 17%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.media-element{
    padding: 15px;
    margin-left: 30px;
    background: rgba(207, 198, 198, 0.9);
    border-radius: 10px;
    text-align: center;
    inline-size: 90%;
}
 .media-element > img{
    inline-size: 100%;
    border-radius: 10px;
} 
h3{
    text-align: center;
    margin: 30px 0px 50px 0px;
    font-size: 30px;
}
::-webkit-scrollbar{
    width: 12px;
}
@media screen and (max-width: 800px) {
   .introduction{
    font-size: 25px;
   }
   .navbar a{
    padding-inline: 5px;
    font-size: small;
   }
   .navbar input{
    width: 1.5cm;
   }
   .row-1,.row-2,.row-3{
    margin-left: 0px;
   }
   .row-1 img{
   width: 100px;
   height: 110px;
   margin-bottom: -10px;
   }
   .row-2 img{
    width: 100px;
    height: 110px;
    margin-bottom: -10px;
    }
    .row-3 img{
    width: 100px;
    height: 110px;
    margin-bottom: -10px;
    }
   #b-1{
    font-size: small;
    }
   .buy{
    width: 50%;
    margin-left: 40px;
    border-radius: 10px;
    border:1px solid black;
    font-weight: 600;
    }
   .buy:hover{
    background-color: rgb(155, 151, 151);
    cursor: pointer;
    }
   #shelves{
    width: 0px;
    }
    .lo{
        font-size: 40px;
        margin-right: 50px;
        font-weight: bold; 
        color: rgb(255, 255, 255, .6);
    }
    .about{
        margin-right: 30px;    
    }
    .help{
        margin-bottom: 30px;
    }
    .s-m {
        margin-left: 10px;
    }
    .P-1{
        padding: -10px;
    }
    .b-4,.b-7{
        height: 270px;
    }
    .authers img{
        height: 220px;
    }
    .P-A{
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;       
    }
    .about-us img{
        width: 60%;
        height: 50%;
    }
    .about-us h2{
        font-size: 30px;
    }
    .about-us button{
        font-size: 9px;
    }
    .about-us p{
        font-size: 80%;
    }
    
  }