@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
  
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
div{
    width: 100%;
    
}
h1{
    font-size: xxx-large;
    padding-top: 150px;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    color: white;
}
.two{
    display: flex;
    
}
.frm{
    margin-left: 10px;
    background-color: white;
}
fieldset{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    border: none;
    box-shadow: 2px 4px 10px;
    padding-bottom: 10px;
    background-color: white;
}
.bg-img{
    background-size: cover;
}
p{
    opacity: 0.5;
}
button{

    color: white;
    width: 90%;
    height: 50px;
    background-color:rgb(152, 72, 152) ;
    border: 0px;
    border-radius: 5px;
}
.PD, .EM{
    width: 90%;
    height:40px ;
    font-size: large;
    
}
.log-frm{
    display: flex;
    margin-inline:30px ;
}
a{
    text-decoration: none;
    color: black;
    opacity: 0.8;
}
.bg-img{
    background-image: url(./img/bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -10px;
    } 